:root {
  --input-bg-color: #424242;

  --font-size-biger: ;
  --font-size-big: 18px;
  --font-size-normal: 15px;
  --font-size-small: 10px;
  --font-size-smaller: ;

  --text-main-color: black;
  --text-invert-color: white;
}
